body {
    background-color: powderblue;
}

h1 {
    color: blue;
    font-family: verdana;
}
p {
    color: red;
    font-family: courier;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: green;
}